.Element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    ;
}



.ElementImage{
padding: 2px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:linear-gradient(
        180deg, rgba(158,8,31,1) 38%, rgba(255,192,0,1) 91%);
}

.Elementusername{
    font-size: 14px;
    font-weight: bold;
    color: inherit;
margin: 5px;
color: black;

}






.container{
    gap: 15px;
    padding-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:start ;
    align-items: center;
height: 90px;
background-color: rgb(255, 255, 255);

overflow-x: scroll;
overflow-y: hidden;


}





.container::-webkit-scrollbar {
    display: none;
}





a{

text-decoration: none;

}



/* historias no modificar por ahora */


.HisContainer{
background-color: black;



}

.hisDisplay{
    scroll-behavior: smooth;
    transition: all 1s;
overflow-x: scroll;
overflow-y: hidden;
height: 84vh;
width: 100vw;
display: flex;
scroll-snap-type: x mandatory;
}


.hisSend{
    z-index: 1;
height: 10vh;
/* background-color: black; */
display: flex;
justify-content: start;
gap: 10px;

}

.video{
scroll-snap-align: start;


width: 100vw;
/* height: 90vh; */
/* aspect-ratio: 16/9; */


}


.hishh{

position: relative;


}


.indicator{
 background-color: gray;
height: 2px;
border-radius: 5px;


}




.indicadores{
    overflow: hidden;
 gap: 5px;
    padding: 10px;
width: 100vw;
display: flex;
justify-content: space-evenly;
/* top: 10px; */
position: absolute;
z-index: 3;
}

/* the color the progres value is white in the progress  */
progress::-webkit-progress-value {
    background: white;
}



.inputSend{
width: 300px;
margin-left: 10px;
background: transparent;
color: white;
padding: 10px;
border : 1px solid rgb(158, 156, 156);
/* margin:2px; */
border-radius: 10px;
height: 40px;


}


.inputButton{

width: 35px;
height: 35px;


}

.HisContainer{
overflow-y:hidden ;

}







/* create a media query that min witdh to be 700px */
@media screen and (min-width: 650px) {

/* that container with to  be 600px  and center and spacin to top 40px */
.container{
    width: 600px;
    margin: auto;
    margin-top: 10px;
    height: 100px;
  align-items: normal;
  border: 1px solid rgb(202, 200, 200);
}

.hishh{

width: 338px;

}

.video{

width: 338px;

}

.hisDisplay{
overflow-x: hidden;
overflow-y:hidden;
width: 338px;
margin: auto;

}

.indicadores{
width: 100%

}




.hisSend{

    margin: auto;
    width: 338px;
    margin-top: 10px;
    }
    

    .HisContainer{


        height: 100vh;
    }











}









.dark{



    background-color: black;
    color: white;
    
     border-color: rgb(56, 55, 55);
    
    
    
    
    
    }