*{

    box-sizing:border-box ;
margin: 0;


}





.Topbar{
   
background-color: black;
display:flex;
justify-content: space-between;
width: 100vw;
padding: 5px;
}


.Title{

    font-family: 'Billabong', sans-serif;
color: white;
font-size: 35px;
}


.Topbar-img{

width:25px;
margin: 10px;
}


.icons-top{

display: flex;
width: 150px;
justify-content:space-between;
}

































.navBar{

position: fixed;
bottom: 0;
background-color: black;
width: 100vw;
}


.navList{
list-style: none;
display: flex;
flex-direction:row;
justify-content: space-between;

padding: 10px;
}

.nav_element{
width:30px;


}

.Display{

overflow-y: scroll;
scroll-snap-type: mandatory;
height: 80vh;


}