@media screen   and (max-width: 600px) {
    


.idioma{


text-align: center;

border: none;
background-color: white;

margin-bottom: 20px;

}


.logins{




display:flex;
flex-direction:column;
align-items: center;



}


.button_S{

background-color:rgb(30, 119, 253);
border: none;
padding: 7px;
/* width:250px; */

color: white;
font-size: 15px;
}
.form-block{


display:contents;



}



.form{


margin:10px;

width:250px;
padding:7px;

background-color: whitesmoke;
border: rgb(167, 167, 167) solid;


}


.text_help{


color:rgb(56, 133, 247);
font-size: 14px;
margin-left: 100px
;
}



.setUp{

color:rgb(56, 133, 247);







}

.title{


    font-family: 'Billabong', sans-serif;
                                                


font-size: 52px;





}


.footer{



position:absolute;
bottom:10px;
font-size:18px;
font-weight: bold;

}


.button-disable{


   background-color:  rgb(69, 125, 209);
   border: none;
   padding: 7px;
   width:250px;
   
   color: white;
   font-size: 15px;


}


.button_S:active{


box-shadow: inset 2px 2px  black;





}




}




.err-color{

color:red;


}


.ok-color{

color:greenyellow;

}