.container{

overflow-y:scroll;
overflow-x: hidden;
scroll-snap-type: y mandatory;

/* height:vh; */
width: 100vw;
height:90vh;
position:relative;
}


.video{


/* width:100%; */
height:90vh




}

.container-video{

    scroll-snap-align: start;
position: relative;

}



.--20{


width:15px


}

.hear{



width:25px;





}







.atributo{
    z-index: 2;
margin-bottom: 20px;


}



.atributos{
z-index: 1;
    /* background-color: red; */
    /* /* width:30px; */
    right: 20px;
    bottom: 80px;
    position:absolute; 
color:white;
}
.atributo p{

font-size: 12px;

font-weight: bold;
}
.preview  .video{
height:200px;
width: 100vw;
background-color:black




}


.preview {
    height:200px;
      overflow-y: hidden;
    
    
    }


.preview .atributos{

display:none;

}


    .items_topbar{
padding:0;
justify-content:space-between;
list-style: none;
   display:flex;

background-color: black;
color:white;
padding:10px;


    }

    .BottomBarCommens{
        display:flex;

     padding: 10px;
     background-color:#444;
    position: absolute;
    bottom: 0;
    width: 100%;

    }

    .text_coment{

        background-color:#444;
        border:none;
        color:white;
        margin-left:10px;
        font-size:16px;

    }
    .text_coment:focus-visible{

outline:none;


    }
    .DisplayComents{

   background-color: black;
height: 60vh;

overflow-y: scroll;


    }

.spinner{


border: 5px solid rgba(65, 64, 64, 0.1);

border-left-color: rgb(41, 134, 184);
border-radius: 50%;


width: 150px;
height: 150px;


animation: spin 1s linear infinite;
}


@keyframes spin {
    
0%{


transform: rotate(0deg);

}

100%{

transform: rotate(360deg);



}




}



.like-hear-front{
    width: 200px;
     height: 200px;
     position:absolute;
            top:30vh;
     left:30vw;
 animation: hear-front  1 0.7s cubic-bezier(0.21, 0.56, 0.68, 1.04) forwards;
}
@keyframes hear-front {
            

0%{
width:20px;
height:20px;

}



50%{
    transform: scale(1.3);
/* width:transform: scale(1.1);180px; */

}

100%{


transform:scale(0);
}


}