.searchBar{
    position: relative;



background-color: white;

padding: 10px;



}
.inputSearch{


background-color:rgb(53, 52, 52);
padding: 8px;

padding-left:30px;
border: none;
width:90%;
border-radius:8px;
margin-left: 16px;
color: white;
}
.inputSearch:focus-visible{
outline: none;



}
.searchImg{

width:20px;
height:20px;
position: absolute;
left:30px;
top: 18px;
}

.display{
    min-height: calc(100vh - 50px - 50px);
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 60px;
    align-content: flex-start;
}







.Recommended{

background-color: black;
margin: 0;
position: absolute;
height: 60vh;
width: 100vw;
padding: 10px;

}



.item{

color: white;

}




.dark{


background-color:rgb(0, 0, 0);
color: white;
border-color: rgb(68, 66, 66);




}


.null{

 display:  none ;

}


.move{

    left: 55px;
    top: 20px;


}

.moveBar{

margin-left: 40px;

}



.arrow{

position: absolute;
margin: 0;
top: 10px;
transform: rotate(180deg);


}

.arrow:hover{

    cursor: pointer;

}